<ul id='timeline'>
  <li class='event down'>
    <div class='content'>
      <div class="avatar"><iframe src="https://leetcard.jacoblin.cool/priyah?ext=activity&border=0&radius=20&theme=unicorn" frameBorder="0" width="500" height="300"></iframe></div>
    </div>
    <div class="dot">
      <span class='circle'></span>
    </div>
    <div class='date'>Oct 2022</div>
  </li>
  <li class='event up'>
    <div class='content'>
      <div class="avatar"><a href="https://contributors.rubyonrails.org/contributors/priya-hinduja/commits" target="blank">Rails contribution</a></div>
    </div>
    <div class="dot">
      <span class='circle'></span>
    </div>
    <div class='date'>Nov 2022</div>
  </li>
  <li class="last">
    <div class="rectangle">
      Growing!
    </div>
  </li>
</ul>
